@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-size: 20px;
  box-sizing: border-box;
  height: 100%;
}
button {
  -webkit-app-region: no-drag;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a {
  color: #5252de;
  text-decoration: none;
}
.gray-text {
  color: #aaa;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  .app_time {
    width: 100vw;
    height: 100vh;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .app_time_logo {
      width: 45vw;
      height: 33.6vw;
    }
    .app_time_info {
      margin-top: 0.5rem;
    }
    .app_time_continue {
      margin-top: 0.8rem;
      height: 1.6rem;
      color: #2cc3fa;
      &:hover,
      &.current {
        color: #0d94fc;
      }
    }
    .app_time_loding {
      margin-top: 0.8rem;
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
.drag-bar {
  -webkit-app-region: drag;
  width: 100%;
  height: 2.4rem;
  position: absolute;
  top: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
audio,
video {
  outline: none;
}
b.highlight {
  font-weight: normal;
  &.default,
  &.mention {
    color: #3d75e3;
  }
  &.mention {
    cursor: pointer;
  }
  &.in-bubble {
    background: #c4ed7a;
    border-radius: 0.2rem;
  }
}

.inputbox {
  position: relative;
  display: inline-flex;
  input,
  textarea {
    font-size: 0.8rem;
    border: none;
    background: transparent;
    border-bottom: 0.1rem solid #397ee4;
  }
  pre {
    font-size: 0.8rem;
    display: block;
    background: #ccc;
    visibility: hidden;
    width: calc(100% + 1rem);
    margin: 0;
  }
  textarea {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    resize: none;
  }
  pre,
  textarea {
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 0.9rem;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  }
  &.center {
    input {
      text-align: center;
    }
  }
  input:focus {
    outline: none;
  }

  label {
    color: #999;
    font-size: 0.8rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    color: #8a8a8a;
    left: 0.6rem;
    top: 0.6rem;
    transition: 0.2s ease all;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -0.6rem;
    font-size: 0.6rem;
    color: #8d8d8d;
  }
}

.markdown {
  word-break: break-word;
  line-height: 1.5;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  color: #333;
  * {
    outline: none;
    &:last-child {
      margin-bottom: 0 !important;
    }
    &:first-child {
      margin-top: 0 !important;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.8rem 0;
    padding: 0;
  }
  dl,
  ol,
  ul,
  li,
  p,
  pre,
  blockquote {
    margin: 0 0 0.4rem;
    padding: 0;
  }
  ul {
    margin-left: 1.6rem;
    li {
      list-style: disc;
    }
  }
  ol {
    margin-left: 1.6rem;
    li {
      list-style: decimal;
    }
  }
  img {
    max-width: 100%;
  }
  pre {
    background: #f4f4f4;
    white-space: pre-wrap;
    padding: 0.16rem 0.3rem;
    border-radius: 0.16rem;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  blockquote {
    border-left: 0.16rem solid #ddd;
    padding-left: 0.45rem;
    margin-left: 0.16rem;
  }
  a {
    color: $primary-color;
  }
  table {
    position: relative;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    word-break: normal;
    margin: 0;
    font-weight: 400;
    box-sizing: border-box;
    border: 0.05rem solid #e2e2e2;
    width: 96%;
  }
  tbody,
  tr,
  th,
  td {
    margin: 0;
    font-weight: 400;
    box-sizing: border-box;
  }
  table tr td,
  table tr th {
    margin: 0;
    font-weight: 400;
    box-sizing: border-box;
    min-width: 4.5rem;
    font-size: 0.7rem;
    white-space: normal;
    word-wrap: break-word;
    border: 0.05rem solid #e2e2e2;
    vertical-align: top;
    padding: 0.2rem 0.4rem;
  }
  th {
    background-color: #f6f6f6;
    font-weight: bold;
  }
}
