.DS_Store
mixin.db
signal.db
mixin.db-shm
mixin.db-wal
signal.db-shm
signal.db-wal
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Electron-builder output
/dist_electron
